IMAGE UPSCALINGB BFL.json
{
  "name": "IMAGE UPSCALINGB BFL",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "3529c604-f5aa-4696-bc74-13e8cb1102fa",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appgCVDypLe32DtdU",
          "mode": "list",
          "cachedResultName": "RealEstate Video Generation",
          "cachedResultUrl": "https://airtable.com/appgCVDypLe32DtdU"
        },
        "table": {
          "__rl": true,
          "value": "tblk7jzTz1pkL7uQc",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appgCVDypLe32DtdU/tblk7jzTz1pkL7uQc"
        },
        "id": "={{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        240,
        0
      ],
      "id": "3f1bb729-76a3-4a2a-b387-dd2ce86f5dfa",
      "name": "Get a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "e3vVABGEtnfTVkga",
          "name": "auto.ki"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fe423197-1a9f-4180-b86a-f58387f63f2c",
              "leftValue": "={{ $json['Enhanced Images'] }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "id": "47eec7ac-949f-41a0-ac63-78ab8eb5aa43",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        720,
        240
      ],
      "id": "a37f107e-393d-4576-8d34-a685aff98f0d",
      "name": "NO IMAGES MESSAGE"
    },
    {
      "parameters": {
        "fieldToSplitOut": "['Enhanced Images']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        720,
        -80
      ],
      "id": "62d2495d-839c-4d7c-b22c-c364fe508f95",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d90f0e4-78f5-42cf-b451-18dd6d5839b6",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        -80
      ],
      "id": "ae2123a9-01e9-4920-b4bb-f02c40dd6158",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-splitinbatches-advanced.splitInBatchesAdvanced",
      "typeVersion": 1,
      "position": [
        1168,
        -80
      ],
      "id": "a2ed24a2-aebc-47b8-a640-ffa249d7d6a0",
      "name": "SplitInBatches-Advanced",
      "credentials": {
        "n8nApi": {
          "id": "HabRkQCNzNo1cKQw",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.wavespeed.ai/api/v3/wavespeed-ai/image-upscaler",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer b87de997efe18a618c98a587276e55e2c1b7b5008be19e1e0188f010f01293b8"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "creativity",
              "value": "-2"
            },
            {
              "name": "enable_base64_output",
              "value": "false"
            },
            {
              "name": "enable_sync_mode",
              "value": "false"
            },
            {
              "name": "image",
              "value": "https://d1q70pf5vjeyhc.cloudfront.net/media/ea67539902ce4d4ca15d5874b5288249/images/1757159610581295836_4fCAwtol.png"
            },
            {
              "name": "output_format",
              "value": "png"
            },
            {
              "name": "target_resolution",
              "value": "4k"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1872,
        160
      ],
      "id": "c3988b86-be70-4b13-b231-b5e525f403cc",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://n8n.auto.ki/webhook/image-upscaling",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        0
      ],
      "id": "92915676-09b5-4dcd-93fa-eff620633c9c",
      "name": "Image Upscaling API"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "image_url"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1536,
        -224
      ],
      "id": "ab157724-3040-4f4f-a792-ede56ab1bb8e",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appgCVDypLe32DtdU",
          "mode": "list",
          "cachedResultName": "RealEstate Video Generation",
          "cachedResultUrl": "https://airtable.com/appgCVDypLe32DtdU"
        },
        "table": {
          "__rl": true,
          "value": "tblk7jzTz1pkL7uQc",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appgCVDypLe32DtdU/tblk7jzTz1pkL7uQc"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Get a record').item.json.id }}",
            "Upscaled Images": "={{ $json.image_url.map(url => ({ url })); }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Images",
              "displayName": "Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Started",
              "displayName": "Started",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Image Enhancer Checked",
              "displayName": "Image Enhancer Checked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Enhanced Images",
              "displayName": "Enhanced Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Image Upscaler Checked",
              "displayName": "Image Upscaler Checked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Upscaled Images",
              "displayName": "Upscaled Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Merge Videos Checked",
              "displayName": "Merge Videos Checked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Music Added Checked",
              "displayName": "Music Added Checked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Not started",
                  "value": "Not started"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1760,
        -224
      ],
      "id": "ee2670f0-4e5b-4187-952c-8902611a68a9",
      "name": "Update record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "e3vVABGEtnfTVkga",
          "name": "auto.ki"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "id": "recKRPSfBQaUpqLRn"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a record": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NO IMAGES MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "SplitInBatches-Advanced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches-Advanced": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Upscaling API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Image Upscaling API": {
      "main": [
        [
          {
            "node": "SplitInBatches-Advanced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Update record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "30a6a52c-b75a-402b-9d0e-4cef0123982f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f546839f299c51a88e8b3d2832263de6170e7a79249411aa709a3f44463c86d8"
  },
  "id": "VtRLqXTbEerj1G5E",
  "tags": []
}