IMAGE ENHANCER BFL.json
{
  "name": "IMAGE ENHANCER BFL",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -128,
        -64
      ],
      "id": "2ad0114a-e7dd-4e5c-9921-7f93fe04f8e4",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appgCVDypLe32DtdU",
          "mode": "list",
          "cachedResultName": "RealEstate Video Generation",
          "cachedResultUrl": "https://airtable.com/appgCVDypLe32DtdU"
        },
        "table": {
          "__rl": true,
          "value": "tblk7jzTz1pkL7uQc",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appgCVDypLe32DtdU/tblk7jzTz1pkL7uQc"
        },
        "id": "={{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        128,
        -64
      ],
      "id": "9979a79d-e5e6-476c-a4cc-9c6d6fcc57c2",
      "name": "Get a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "e3vVABGEtnfTVkga",
          "name": "auto.ki"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "Images",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        336,
        -64
      ],
      "id": "6249f0d7-5194-45d4-a712-6eda155297ce",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "63afcc21-9461-4624-89d1-8a8d0623a5a9",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        -64
      ],
      "id": "cd4542e1-3f0a-47ca-a0dd-bca57c776aef",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-splitinbatches-advanced.splitInBatchesAdvanced",
      "typeVersion": 1,
      "position": [
        752,
        -64
      ],
      "id": "d77b7b51-cd75-45f6-b8a8-9a974f3d2a65",
      "name": "SplitInBatches-Advanced",
      "credentials": {
        "n8nApi": {
          "id": "HabRkQCNzNo1cKQw",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://n8n.auto.ki/webhook/image-enhancer",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        128
      ],
      "id": "87f58834-ab1d-433f-abbe-32a9ae755ddf",
      "name": "Enhancer Images"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "image_url"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1120,
        -224
      ],
      "id": "b36e55e0-826e-4e69-b55d-5d626b46f590",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appgCVDypLe32DtdU",
          "mode": "list",
          "cachedResultName": "RealEstate Video Generation",
          "cachedResultUrl": "https://airtable.com/appgCVDypLe32DtdU"
        },
        "table": {
          "__rl": true,
          "value": "tblk7jzTz1pkL7uQc",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appgCVDypLe32DtdU/tblk7jzTz1pkL7uQc"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Get a record').item.json.id }}",
            "Enhanced Images": "={{ $json.image_url.map(url => ({ url })); }}",
            "Image Enhancer Checked": true
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Images",
              "displayName": "Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Started",
              "displayName": "Started",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Image Enhancer Checked",
              "displayName": "Image Enhancer Checked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Enhanced Images",
              "displayName": "Enhanced Images",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Merge Videos Checked",
              "displayName": "Merge Videos Checked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Music Added Checked",
              "displayName": "Music Added Checked",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Not started",
                  "value": "Not started"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                }
              ],
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1376,
        -224
      ],
      "id": "1e8176a5-96e8-49cd-9e07-421fe10db2bd",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "e3vVABGEtnfTVkga",
          "name": "auto.ki"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "id": "recKRPSfBQaUpqLRn"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a record": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "SplitInBatches-Advanced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches-Advanced": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enhancer Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhancer Images": {
      "main": [
        [
          {
            "node": "SplitInBatches-Advanced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "80e6855b-a38a-47e2-bc25-2cc005a078b7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f546839f299c51a88e8b3d2832263de6170e7a79249411aa709a3f44463c86d8"
  },
  "id": "lbAG8Jsj1DL6Sn0Z",
  "tags": []
}